header{font-size: 10pt;}
h1{text-align: center;
        font-size: 2em;
        font-weight: bold;
        color: #4b0082;}
h2{font-weight: bold;
    color: #4b0082;}}
body{background-color: lightsteelblue;
    font-family: "Arial", Arial, Sans-serif;
    color: #000001;
    font-size:14px;}
#photo{border: 5px solid gray; padding: 10px;float: right;}
a:link{color: #008000;}
a:visited{color: #008080;}
a:hover{color: #0000ff;}
a:active{color: #ff4500}
#footer{text-align: center;
        font-size: 10pt;
}
