*{box-sizing: border-box;}

h1{text-align: center;
    font-size: 2em;
    font-weight: bold;
    color:#008000;}

a{text-decoration: none;}
a:link{color: #008000;}
a:visited{color: #55d733;}
a:hover{color: #66cdaa;}
a:active{color: #ff4500}

nav{text-align: center;
    font-size: 1.5em;
    background-color:#e5e5e5;
}
nav ul{list-style: none;
    padding: 0;
    margin: 0;
    text-align: center;
    border-style:solid;
    border-width: 2px;
    border-color: black;
}
nav ul li{display: inline-block;
    text-align: center;
    color:black;
}

.nav-right{
    border-right-style: solid;
    border-width: 2px;
    border-color: black;
    padding:3px 7px 3px 0px;
}
nav ul li a{color:#000000;}
nav ul li a:visited{color: #008000;}
nav ul li a:hover{color: #66cdaa;}
body{margin: 5% 8%;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    font-size:14pt;
    background-color: #ffffff;
}
.custom-ul{
    list-style:none;
}
.custom-ul li:before {
    content: "~";
    color: #fcc742;
    font-size:30px;
}
.bib title{text-align: center;}
.photo{padding: 10px;}
small{font-size: 10pt;}
code{font-family: "Courier New", Courier, monospace;}
#terminal{float:right;
padding-right:100px;}
footer{text-align: center;
font-size: 10pt;
clear: both;}
blockquote{font-family: "Courier New", Courier, monospace;}
