h1{text-align: center;
        font-size: 2em;
        font-weight: bold;
        color: #000000;}
h2{font-style: italic;
        font-weight: bold;}
a{text-decoration: none;}
#banner{height: 100px;
        width: 100%;}
body{background-color: white;
    font-family: "Arial", Arial, serif;
    color: #000000;
    font-size:14px;}
#photo{border: 5px solid gray; padding: 10px;float: right;}
#tux{font-style: italic;}
a:link{color: blue;}
a:visited{color: black;}
a:hover{color: black;}
a:active{color: black;}
