header{font-size: 10pt;}
h1{text-align: center;
        font-size: 2em;
        font-weight: bold;
        color: #4b0082;}
h2{font-style: italic;
        font-weight: bold;}
a{text-decoration: none;}
#banner{height: 100px;
        width: 100%;}
body{background-color: lightsteelblue;
    font-family: "Arial", Arial, Sans-serif;
    color: #000000;
    font-size:14px;}
#photo{border: 5px solid gray; padding: 10px;float: right;}
#tux{font-style: italic;}
a:link{color: #008000;}
a:visited{color: #008080;}
a:hover{color: #0000ff;}
a:active{color: #ff4500}
#footer{text-align: center;
        font-size: 10pt;
}