*{box-sizing: border-box;}

h1{text-align: center;
    font-size: 2em;
    font-weight: bold;
    color:#52B3DE;}

a{text-decoration: none;}
/*a:link{color: #008000;}
a:visited{color: #55d733;}
a:hover{color: #66cdaa;}
a:active{color: #ff4500}*/

/*Navigation Bar Styling */
nav[role="full-horizontal"]{width: 100%;
    margin-left:0;
    margin-right:0;
    }
nav ul{
    width: 100%;
    float: left;
    margin: 0;
    padding: 0;
    list-style: none;
    background-color: #f2f2f2;
    border: 1px solid #cccccc;
    overflow: hidden;
    }
nav ul li {
    float: left; }
nav ul li a.current{text-decoration: underline;}
nav ul li a {
    display: block;
    padding: 8px 10px;
    text-decoration: none;
    text-align: center;
    font-weight: bold;
    color: #07597c;}
nav li a:hover {
    color: #ffffff;
    background-color: #000000;}
nav li a:visited {
    color: #07597c;}
nav li a:visited:hover {
    color: #ffffff;
    background-color: #000000;}  
body{padding: 0;
    margin: 2% 5%;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    font-size:14pt;
    background-color: #fbecd0;
}

/*change line spacing*/
.content{line-height: 150%;}

/*class to right align images*/
.right{float: right;}

/*styling for figure elements for captioned images*/
figure{display: table;}
figcaption{display: table-caption;
    caption-side: bottom;}
    
/*styling for title on bibliography page*/
#bib-title{text-align: center;}

/*class for centering images*/
.center{
    display: block;
    margin-left: auto;
    margin-right: auto;}

/*class for aligning images in a gallery format*/
.gallery{margin: 5px;
    border: 1px solid #ccc;
    float: left;}

/*class for aligning images in a gallery format two images across*/
.gallery-two{margin: 5px;
    border: 1px solid #ccc;
    float: left;
    width: 45%}
    
/*footer styling*/
footer{text-align: center;
    font-size: 10pt;
    clear: both;
    margin-top: 20px;}

#home{width: 50px; height: 57px;
    display: block;
    margin: auto;}

/*media queries*/

@media screen and (max-width: 642px){
    nav ul{list-style: none;
        padding: 0;
        margin: 0;
        text-align: center;
    }
    nav ul li{display: block;
        border: 1px solid black;
        color: black;
        clear: both;
        width: 100%;
    }
    nav ul li a{
        padding: 8px 15px;
        text-decoration: none;
        font-weight: bold;
        color: #07597c;}
    img{width: 100%;}
    .gallery-two{width: 100%;}
}

@media screen and (max-width: 480px){
    nav ul{list-style: none;
        padding: 0;
        margin: 0;
        text-align: center;
    }
    nav ul li{display: block;
        border: 1px solid black;
        color: black;
        clear: both;
    }
    nav ul li a{
        padding: 8px 15px;
        text-decoration: none;
        font-weight: bold;
        color: #07597c;}
    img{width: 100%;}
    .gallery-two{width: 100%;}
   
}

