header{text-align: center;}
em{font-weight: normal;}
a{text-decoration: none;}
#resume-all{border: 5px solid gray;
            padding: 10px;}
nav{font-size: 24px;
    font-weight: bold;
    text-align: center;}
#kahrs{text-align: center;}
body{background-color: black;
    font-family: courier, monospace;
    color: #00DD00;
    width:750px;
    margin-left:auto;
    margin-right:auto;
    /*margin-top:100px;*/
    font-size:14px;}
#pdf{font-weight: bold; font-size: 16px; padding-bottom: 50px;}
footer{text-align: center;}
a:link{color: #00DD00;}
a:visited{color: #CC9900;}
a:hover{color: #FFFFFF;}
